table, th, td{
    border-collapse: collapse;
    border: 1px solid black;
}
 table thead th:nth-child(odd){
    background-color: white;
}

table thead th:nth-child(even){
    background-color: lightcoral;
}

.error{
    color: red;
}